body{
    background-image: url("../Proyecto-desarrollador-J/images/Fondo-bienvenida.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
};

h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
};

.container-body{
    font-family: 'Sansita Swashed';
};
