header{
    background-image: url("/Proyecto-desarrollador-J/docs/images/Fondo-bienvenida.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 13%;
    
};




